<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <link rel="stylesheet" href="{{ asset('bundles/baloonwatcher/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/baloonwatcher/css/style.css') }}" />
        <script src="{{ asset('bundles/baloonwatcher/js/jquery-1.10.0.min.js') }}" ></script>
        <script src="{{ asset('bundles/baloonwatcher/js/MonitoringPageController.js') }}" ></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <title>{% block title %}{% endblock %} - Là-Haut</title>
    {% endblock %}
</head>
<body>
<div id="content">
    {% block content %}

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Là-Haut (dans la montagne)</a>
                    <div class="nav-collapse collapse" id="main-menu">
                        <ul class="nav" id="main-menu-left">
                            <li><a href="#">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <header class="jumbotron subhead" id="overview">
                <div class="row">

                    <div class="span6">
                        <h1>Là-Haut</h1>
                        <!--
                        <p class="lead">(dans la montagne)</p>
                        -->
                        <div id="map3d" "></div>
                    </div>

                </div>
            </header>


            <div id="content">

            </div>
        </div>

    {% endblock %}
</div>
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>